.page {
  background-color: #131313;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.group {
  margin-top: -11.13rem;
  overflow-x: hidden;
  height: 72.56rem;
}
.group_2 {
  overflow-x: hidden;
}
.group_3 {
  padding: 11.88rem 0 16.25rem;
  overflow-x: hidden;
  height: 70.94rem;
}
.image_4 {
  width: 4.75rem;
  height: 3rem;
}
.pos_5 {
  position: absolute;
  left: 3rem;
  top: 11.88rem;
}
.font_1 {
  font-size: 1rem;
  font-family: Saira Stencil One;
  line-height: 0.69rem;
  color: #ffffff99;
}
.text {
  color: #c6eb24;
}
.pos_6 {
  position: absolute;
  right: 30.94rem;
  top: 13.06rem;
  z-index: 99;
}
.pos_7 {
  position: absolute;
  right: 25.19rem;
  top: 13.06rem;
  z-index: 99;
}
.text_2 {
  line-height: 0.72rem;
}
.pos_8 {
  position: absolute;
  right: 18.47rem;
  top: 13.06rem;
  z-index: 99;
}
.text_3 {
  line-height: 0.94rem;
}
.pos_9 {
  position: absolute;
  right: 11rem;
  top: 13rem;
  z-index: 99;
}
.text_4 {
  line-height: 0.75rem;
}
.pos_10 {
  position: absolute;
  right: 2.81rem;
  top: 13rem;
  z-index: 99;
}
.pos_6:hover,
.pos_7:hover,
.pos_8:hover,
.pos_9:hover,
.pos_10:hover {
  color: #c6eb24;
  cursor: pointer;
}
.group_5 {
  width: 35.97rem;
}
.pos_15 {
  position: absolute;
  left: 7.56rem;
  top: 23.78rem;
}
.font_2 {
  font-size: 4.25rem;
  font-family: Saira Stencil One;
  line-height: 6.13rem;
  color: #ffffff;
}
.font_3 {
  font-size: 4.25rem;
  font-family: Saira Stencil One;
  line-height: 6.13rem;
  color: #c6eb24;
}
.font_4 {
  font-size: 1.13rem;
  font-family: Noto Sans;
  line-height: 2.19rem;
  color: #ffffff;
}
.text_5 {
  width: 31.31rem;
}
.pos_19 {
  position: absolute;
  left: 7.41rem;
  top: 36.1rem;
}
.image_3 {
  opacity: 0.5;
  border-radius: 2.25rem;
  width: 47rem;
  height: 19.44rem;
}
.pos_4 {
  position: absolute;
  left: 13.69rem;
  top: 11.13rem;
}
.image_5 {
  opacity: 0.3;
  border-radius: 1.25rem;
  width: 25.63rem;
  height: 15.88rem;
}
.pos_11 {
  position: absolute;
  left: 50%;
  top: 13.47rem;
  transform: translateX(-50%);
}
.image-wrapper {
  padding: 1rem 0;
  opacity: 0.5;
  border-radius: 1.13rem;
  background-image: url('../../Users/xiaowei/Desktop/images1/6dcc585511a669118948af1363bd75da.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 23.5rem;
}
.pos_21 {
  position: absolute;
  right: -3.34rem;
  top: 41.16rem;
}
.image_13 {
  opacity: 0.5;
  border-radius: 0.75rem;
  width: 20rem;
  height: 11.56rem;
}
.image {
  opacity: 0.5;
  border-radius: 1.13rem;
  width: 23.5rem;
  height: 13.56rem;
}
.pos_2 {
  position: absolute;
  left: -5rem;
  top: 5.13rem;
}
.image_9 {
  opacity: 0.2;
  border-radius: 1.13rem;
  width: 13.5rem;
  height: 7.81rem;
}
.pos_16 {
  position: absolute;
  left: -6.75rem;
  top: 24.56rem;
}
.pos_18 {
  position: absolute;
  left: -4.44rem;
  top: 29.38rem;
}
.image_8 {
  width: 12.75rem;
  height: 12.75rem;
}
.pos_14 {
  position: absolute;
  right: 33.75rem;
  top: 23.44rem;
}
.section {
  padding: 9.5rem 0.25rem 6.94rem;
  background-image: url('../../Users/xiaowei/Desktop/images1/9a4323e07fe576776d18b7fbf658c1fa.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70.94rem;
  height: 70.94rem;
}
.pos {
  position: absolute;
  right: -12.44rem;
  top: 0;
}
.group_4 {
  padding: 15.38rem 0 16.63rem;
}
.image_10 {
  margin-right: 18.75rem;
  width: 20.94rem;
  height: 20.63rem;
}
.image_7 {
  width: 17.63rem;
  height: 17.19rem;
}
.pos_13 {
  position: absolute;
  left: 25.16rem;
  top: 11.84rem;
}
.image_11 {
  width: 20.56rem;
  height: 20.19rem;
}
.pos_17 {
  position: absolute;
  left: 17.75rem;
  bottom: 12.94rem;
}
.image_6 {
  border-radius: 50%;
  width: 48.81rem;
  height: 38.25rem;
}
.pos_12 {
  position: absolute;
  left: 8.56rem;
  top: 6.81rem;
}
.image_2 {
  opacity: 0.1;
  width: 67.19rem;
  height: 52.63rem;
}
.pos_3 {
  position: absolute;
  left: 0;
  right: 3.22rem;
  bottom: 0;
}
.image-wrapper_2 {
  padding: 1.38rem 0 2rem;
  background-image: url('../../Users/xiaowei/Desktop/images1/ad47ee5208ec4f8ce293b6a1d6f8e589.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 7rem;
}
.pos_22 {
  position: absolute;
  left: 8.19rem;
  top: 31.94rem;
}
.image_14 {
  width: 2.31rem;
  height: 2.44rem;
}
.section_2 {
  margin-right: 33.98rem;
  margin-top: -1.13rem;
  background-color: #c6eb24;
  border-radius: 0.5rem;
  width: 3.22rem;
  height: 3rem;
  transform: skew(-30deg);
}
.group_6 {
  border-radius: 1rem;
  width: 16rem;
}
.pos_20 {
  position: absolute;
  left: 7.5rem;
  top: 41.19rem;
}

.image_12 {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

.image_12.dis:hover {
  content: url('../../Users/xiaowei/Desktop/images1/1.svg');
}

.image_12.twit:hover {
  content: url('../../Users/xiaowei/Desktop/images1/2.svg');
}

.image_12.fa:hover {
  content: url('../../Users/xiaowei/Desktop/images1/3.svg');
}

.image_12.tel:hover {
  content: url('../../Users/xiaowei/Desktop/images1/4.svg');
}
.group_7 {
  padding: 0.13rem 0 0.38rem;
  width: 7.44rem;
}
.pos_23 {
  position: absolute;
  left: 10.97rem;
  top: 51.22rem;
}
.image_16 {
  opacity: 0.6;
  width: 5.31rem;
  height: 5.31rem;
}
.image_15 {
  opacity: 0.3;
  border-radius: 50%;
  width: 7.44rem;
  height: 5.81rem;
}
.pos_24 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.image_17 {
  opacity: 0.5;
  border-radius: 50%;
  width: 5.06rem;
  height: 4rem;
}
.pos_25 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image_18 {
  width: 4.13rem;
  height: 4.44rem;
}
.pos_26 {
  position: absolute;
  left: 2.63rem;
  bottom: 7.5rem;
}
.group_8 {
  margin-top: -9.31rem;
  padding: 6.63rem 0 1.31rem;
  width: 56.38rem;
}
.section_5 {
  background-color: #c6eb24;
  border-radius: 0.5rem;
  width: 17.31rem;
  height: 3rem;
  transform: skew(-30deg)
}
.section_6 {
  border-radius: 0.5rem;
  width: 17.31rem;
  height: 4.31rem;
  border: solid 0.063rem #c6eb24;
}
.pos_28 {
  position: absolute;
  left: 12.94rem;
  top: 6.63rem;
  transform: skew(-30deg)
}
.section_3 {
  padding: 1.88rem 2.88rem 2.75rem;
  background-color: #1313134d;
  border-radius: 1.25rem;
  backdrop-filter: blur(0.38rem);
  width: 49.88rem;
  border: solid 0.13rem #c6eb24;
}
.pos_27 {
  position: absolute;
  right: 0;
  top: 0;
  transform: skew(-20deg)
}
.space-x-2 > *:not(:first-child) {
  margin-left: 0.13rem;
}
.font_5 {
  font-size: 2.5rem;
  font-family: Saira Stencil One;
  line-height: 1.75rem;
  color: #ffffff;
}
.font_6 {
  font-size: 1.25rem;
  font-family: Saira Stencil One;
  line-height: 0.88rem;
  color: #c6eb24;
}
.font_7 {
  font-size: 1.13rem;
  font-family: Noto Sans;
  line-height: 0.88rem;
  color: #ffffff;
}
.section_4 {
  background-color: #c6eb2466;
  width: 0.063rem;
  height: 2.5rem;
}
.view {
  margin-left: 5.13rem;
}
.group_9 {
  padding: 0 4rem;
}
.space-y-17 > *:not(:first-child) {
  margin-top: 1.06rem;
}
.group_10 {
  padding: 0 0.25rem;
}
.text_8 {
  margin-left: 0.25rem;
}
.group_11 {
  margin-left: 3.63rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.text_6 {
  color: #ffffff;
}
.text_9 {
  margin-right: 0.25rem;
  line-height: 1.13rem;
}
.text_7 {
  margin-top: 1rem;
}
.group_12 {
  margin-top: 7.63rem;
  width: 75rem;
  height: 32.38rem;
}
.text_10 {
  color: #c6eb24;
}
.text_11 {
  line-height: 2.25rem;
}
.text_12 {
  margin-top: 0.75rem;
  text-align: center;
  width: 41.31rem;
}
.section_7 {
  margin-top: 1.13rem;
  padding: 1.63rem 1.63rem 11.75rem;
  background-image: linear-gradient(180deg, #c6eb2400 0%, #dfeb24 100%);
  border-radius: 1.25rem;
  border-image-slice: 1;
  border: solid 0.063rem #c6eb2480;
}
.image_19 {
  width: 3.25rem;
  height: 1.5rem;
}
.divider {
  background-image: linear-gradient(270deg, #c6eb24 0%, #c6eb2400 29.7%, #c6eb2400 68.2%, #c6eb24 100%);
  width: 63.75rem;
  height: 0.13rem;
}
.group_13 {
  margin-top: -11.5rem;
  padding: 2.06rem 2.5rem;
}
.section_11 {
  padding: 0.63rem 0 0.75rem;
  background-color: #ffffff1a;
  border-radius: 0.88rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.66rem);
  width: 14.13rem;
  height: 16.5rem;
  border: solid 0.063rem #ffffff;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.image_22 {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 13rem;
  height: 13rem;
}
.font_8 {
  font-size: 1.5rem;
  font-family: Saira Stencil One;
  line-height: 1.13rem;
  color: #ffffff;
}
.section_9 {
  padding: 0.75rem 0;
  background-color: #ffffff1a;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.72rem);
  width: 15.75rem;
  border: solid 0.075rem #ffffff;
}
.image_21 {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 14.5rem;
  height: 14.5rem;
}
.font_9 {
  font-size: 1.63rem;
  font-family: Saira Stencil One;
  line-height: 1.22rem;
  color: #ffffff;
}
.section_10 {
  padding: 0.75rem 0;
  background-color: #ffffff1a;
  border-radius: 0.97rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.72rem);
  width: 15.75rem;
  border: solid 0.075rem #ffffff;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.pos_30 {
  position: absolute;
  left: 14.75rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_31 {
  position: absolute;
  right: 14.75rem;
  top: 50%;
  transform: translateY(-50%);
}
.section_8 {
  padding: 0.88rem 0 1rem;
  background-color: #ffffff1a;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.63rem);
  width: 17.75rem;
  border: solid 0.063rem #ffffff;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.pos_29 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.image_20 {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 16.25rem;
  height: 16.25rem;
}
.text_13 {
  color: #ffffff;
  font-size: 1.75rem;
  font-family: Saira Stencil One;
  line-height: 1.31rem;
}
.group_14 {
  margin-top: 3.13rem;
  width: 63.09rem;
}
.space-y-26 > *:not(:first-child) {
  margin-top: 1.63rem;
}
.group_15 {
  margin-right: 13.75rem;
  padding: 0.5rem 0 0.88rem;
  width: 5.69rem;
}
.image_24 {
  opacity: 0.6;
  width: 3.94rem;
  height: 3.94rem;
}
.image_23 {
  opacity: 0.3;
  border-radius: 50%;
  width: 5.69rem;
  height: 5.31rem;
}
.pos_32 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.image_25 {
  opacity: 0.5;
  border-radius: 50%;
  width: 3.88rem;
  height: 3.63rem;
}
.pos_33 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group_16 {
  padding-left: 7.88rem;
  padding-top: 2.25rem;
}
.image_28 {
  margin-bottom: 0.44rem;
  opacity: 0.5;
  border-radius: 0.75rem;
  width: 39.06rem;
  height: 14.81rem;
}
.image_30 {
  backdrop-filter: blur(0.38rem);
  width: 11.25rem;
  height: 12.88rem;
}
.image_27 {
  opacity: 0.3;
  width: 51.25rem;
  height: 9.81rem;
}
.pos_36 {
  position: absolute;
  left: 1.78rem;
  top: 2.22rem;
}
.image_29 {
  opacity: 0.3;
  border-radius: 0.38rem;
  width: 34.56rem;
  height: 12.94rem;
}
.pos_37 {
  position: absolute;
  left: 10.16rem;
  bottom: 1.63rem;
}
.group_17 {
  text-align: center;
  width: 31.94rem;
}
.pos_34 {
  position: absolute;
  left: 12rem;
  top: 0;
}
.text_14 {
  line-height: 3.63rem;
}
.text_15 {
  color: #c6eb24;
  font-size: 2.5rem;
  font-family: Saira Stencil One;
  line-height: 3.63rem;
}
.text_16 {
  text-align: center;
  width: 39.13rem;
}
.pos_38 {
  position: absolute;
  left: 8.06rem;
  top: 10.72rem;
}
.image_26 {
  width: 4.63rem;
  height: 3.94rem;
}
.pos_35 {
  position: absolute;
  left: 0;
  top: 2.28rem;
}
.group_18 {
  margin-top: 8.5rem;
  padding-left: 8.5rem;
  border-top: solid 0.25rem #c6eb24;
}
.space-x-32 > *:not(:first-child) {
  margin-left: 2rem;
}
.image_31 {
  width: 4.75rem;
  height: 5.13rem;
}
.group_19 {
  width: 20.78rem;
}
.font_10 {
  font-size: 2rem;
  font-family: Saira Stencil One;
  line-height: 1.5rem;
  color: #ffffff;
}
.font_11 {
  font-size: 0.75rem;
  font-family: Noto Sans;
  line-height: 1.5rem;
  color: #ffffff;
}
.text_18 {
  line-height: 1.6rem;
}
.section_12 {
  padding: 5.38rem 8.38rem 4.5rem 8.88rem;
  background-color: #c6eb240f;
  height: 16.41rem;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 1.25rem;
}
.space-x-11 > *:not(:first-child) {
  margin-left: 0.69rem;
}
.text_17 {
  color: #c6eb24;
}
.group_20 {
  margin-right: 0.5rem;
}
.space-x-10 > *:not(:first-child) {
  margin-left: 0.63rem;
}
.text_19 {
  line-height: 1.6rem;
  width: 14.63rem;
}
.section_13 {
  margin-bottom: 0.25rem;
  padding: 0.88rem 1rem;
  background-color: #ffffff14;
  border-radius: 0.5rem;
  height: 3.56rem;
}
.space-x-16 > *:not(:first-child) {
  margin-left: 1rem;
}
.image_32 {
  border-radius: 0.88rem;
  width: 1.75rem;
  height: 1.75rem;
}

.image_32.dis:hover {
  content: url('../../Users/xiaowei/Desktop/images1/1.png');
}

.image_32.twit:hover {
  content: url('../../Users/xiaowei/Desktop/images1/2.png');
}

.image_32.fa:hover {
  content: url('../../Users/xiaowei/Desktop/images1/3.png');
}

.image_32.tel:hover {
  content: url('../../Users/xiaowei/Desktop/images1/4.png');
}